.card {
    border: 1px solid rgb(5, 5, 5);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;

    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    transition: transform 300ms;

    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items:flex-end;
    
}




.card-back, .card-front{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    /*add some font*/
    font-family: 'Robot Dreamer', sans-serif;                                          
    font-size: 25px;
    color: rgb(31, 2, 2);
    text-shadow: 2px 5px 10px rgb(0, 0, 0);
    text-decoration: none;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;

    

}


.card-front {
    display: flex;
    background:rgb(255, 255, 255);
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back {

    transform: rotateY(180Deg);
    display: flex;
    background: rgb(255, 255, 255);
  
    justify-content: center;
    align-items:center;
  
    
}

.title {
    font-size: x-small;
}

li {
    margin-top: 55px;
    margin-bottom: 60px;
    padding: 5px;
   
    border-radius: 15px;
    font-weight: 100;
    color: #202c2d;
}