.card-container {
    height: 500px;
    width: 300px;

    perspective: 500x;
    animation: float infinite 10s;
}

@keyframes float {
    0%, 50%, 100% {transform: translateY(0);} 
    20% {transform: translateY(-5px);}
    40% {transform: translateY(-10px);} 
    60% {transform: translateY(-5px);} 
    80% {transform: translateY(-10px);}
}