.card {
    border: 1px solid rgb(5, 5, 5);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;

    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    transition: transform 300ms;

    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items:flex-end;
    
}




.card-back, .card-front{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    /*add some font*/
    font-family: 'Robot Dreamer', sans-serif;                                          
    font-size: 25px;
    color: rgb(31, 2, 2);
    text-shadow: 2px 5px 10px rgb(0, 0, 0);
    text-decoration: none;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;

    

}


.card-front {
    display: flex;
    background: rgb(224, 212, 223);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255,255,255,1) 48%, rgb(91, 85, 71) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back {
    background-color: rgb(254, 213, 141);
    transform: rotateY(180Deg);
    display: flex;
    background: rgb(88,33,84);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255,255,255,1) 48%, rgb(91, 85, 71) 100%);
    justify-content: center;
    align-items:center;
  
    
}

.title {
    font-size: x-small;
}

li {
    margin-top: 55px;
    margin-bottom: 60px;
    padding: 5px;
   
    border-radius: 15px;
    font-weight: 100;
    color: #202c2d;

    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
   
}